*{
  font-family: "Amazon Ember", "Lato", "Roboto", Arial, sans-serif;
  box-sizing:border-box;
}

body{
  font-size: 13px;
}

.form-container{
  width: 350px;
  margin: 0 auto;
}

.logo{
  width: 125px;
  margin: 0 auto;
}

fieldset{
  border-color: #ddd;
  border-width: 2px;
  border-radius: 3px;
}

h1{
    font-weight: normal;
}

.header, .password, .email, .submit, .signup, .remember {
  margin: 20px;
}

input{
  width: 100%;
}

label{
  font-weight: bold;
}

.email input, .password input{
  border-radius: 5px;
  height: 30px;
}

.email input:focus, .password input:focus{
  border-color: #E77600;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.label-float{
  display: inline-block;
  float: right;
}

a{
  text-decoration: none;
  color: rgb(0, 102, 192);
}

a:hover{
  color:#EE8F17;
  text-decoration: underline;
}

input[type="checkbox"]{
  width:auto;
}

.signup, .signup h5 {
  text-align: center;
}

.btn{
  height:35px;
  border-radius: 7px;
  border: 1px solid;
  padding-top: 0;
  padding-bottom: 0;
}

.btn:hover{
  box-shadow: inset 0 0 30px 30px rgba(0, 0, 0, 0.05);
}

.notice{
    margin-top: 20px;
}

.divider{
  margin-bottom: -20px;
  position:relative;
  z-index: -1;
}

hr{
  border: 1px solid;
  border-color: #CCC;
}

h5{
  color: #999;
  font-weight: normal;
  background-color: white;
  padding: 0 5px 0 5px;
  display:inline;
  z-index: 0;
}

.new-msg{
  margin-bottom: 5px;
}

.submit .btn {
  background: linear-gradient(to bottom, #F9E7BA, #EFBB38);
  border-color: #9C7E31;
}
.signup .btn{
  background: linear-gradient(to bottom, #E5E8EE, #D9DCE1);
  border-color: #979AA1;
}
